
.vertical{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-blog{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px auto 90px;
    grid-template-areas: 
        "headerb headerb"
        "menu content"
        "footerb footerb"
    ;
    height: 100vh;
    margin: 0 40px;
    box-sizing: border-box;
}

.header-blog{
    display: flex;
    grid-area: headerb;
   
    justify-content: space-between;
}

.menu-blog{
    grid-area: menu;
   
}

.content-blog{
    grid-area: content;
   
}

.footer-blog{
    grid-area: footerb;
  
}



